/*Estilos generales del proyecto */

body {
  width: 100%;
  height: 100%;
  color: white;
  background-color: black;
  overflow-x: hidden;
}

html {
  width: 100vw;
  height: 100vh;
}

/*** Vista de Inicio ***/

/*Estilo vínculos*/

a {
  color: lightblue;
  transition: all 0.2s ease-in-out;
}

a:hover, a:focus {
  text-decoration: none;
  color: lightgreen;
}

/*Estilo pie de página*/

footer {
  padding: 50px 0;
}

footer p {
  margin: 0;
}

/*Estilo encabezados*/

h2, h3, h4, h5, h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-weight: 700;
}

h3.top-left {
  position: absolute;
  top: 1.5em;
  left: 1.5em;
}

h3.top-right {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
}

/*Párrafos*/

p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}

/*Fondo negro*/

section.bg-black {
  background-color: black;
  height: 550px;
  margin: 0;
  padding: 10px;
}

/*Botones*/

#btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid white;
  border-radius: 100%;
  font-size: 2.5em;
  color: white;
  background: transparent;
}

#btn-circle:hover, #btn-circle:focus {
  outline: none;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}

#buttonFacebook {
  background: #4267B2;
  color: white
}

#myBtn {
  color: black;
}

#rounded {
  border-radius: 100%;
  margin: 1.5%;
  margin-top: 3%;
}

.btn {
  text-transform: uppercase;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
}

.btn-default {
  border: 1.5px solid purple;
  color: white;
  font-weight: 400;
  background-color: transparent;
}

.btn-default:hover, .btn-default:focus {
  border: 1px solid purple;
  outline: none;
  color: black;
  background-color: purple;
}

/*Sección central con información*/

.info-section {
  padding-top: 5em;
}

.light {
  font-weight: 400;
}

.red {
  color: red;
}

.services-section {
  width: 100vw;
  height: 110%;
  color: white;
  background: url(../assets/images/dj-mixer.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}
.services-changes {
  width: 100vw;
  height: 110%;
  color: white;
  background: url(../assets/images/concert-merch.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}

.services-profile {
  width: 100vw;
  background: url(../assets/images/mic.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}

/***Image uploader***/
.thumb{
     height: 300px;
     max-width: 350px;
     border: 1px solid #000;
     margin: 10px 5px 0 0;
     display:block;
}

.start {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  color: white;
  background: url(../assets/images/live-concert.jpg) no-repeat;
  background-position: bottom center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.start .start-body .page-title {
  font-size: 2.5em;
}

.start .start-body .start-text {
  font-size: 18px;
}

@media (min-width: 768px) {
  p {
    margin: 0 0 35px;
    font-size: 1.3em;
    line-height: 1.6;
  }
  .info-section {
    padding-top: 8em;
  }
  .services-section {
    padding: 80px 0;
  }
  .services-profile {
    padding: 80px 0;
  }
  .start {
    height: 100%;
    padding: 0;
  }
  .start .start-body .page-title {
    font-size: 100px;
  }
  .start .start-body .start-text {
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  h3.top-left {
    font-size: 1.5em;
    position: absolute;
    top: 1em;
    left: .8em;
    background: rgba(0, 0, 0, 0.08);
  }
  h3.top-right {
    font-size: 1.5em;
    position: absolute;
    top: 1em;
    right: .8em;
    background: rgba(0, 0, 0, 0.08);
  }
}

/*** Menú Wrapper lateral (views) ***/

body#wrapper {
  background: white;
  color: black;
}

#wrapper {
  padding-left: 0;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 0;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

.black {
  color: black;
}

.nextJs {
  background-color: green;
  color: white;
}

.map {
  height: 400px;
  margin: 2vh 1vw;
  margin-right: 3%;
}

.white {
  color: #ffff;
}

/* Estilos Barra */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 0;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

/*** Vista "artists" ***/

.art-title {
  color: #231f20;
  font-size: 20px;
  font-weight: 700;
}

.artist-data {
  width: 100%;
  padding-bottom: 25px;
}

.artst-pic {
  width: 33%;
  position: relative;
}

.artst-pic span a {
  color: #fff;
  font-size: 16px;
  display: none;
}

.artst-pic span.artst-like {
  position: absolute;
  left: 11%;
  bottom: 10px;
}

.artst-pic span.artst-share {
  position: absolute;
  left: 46%;
  bottom: 10px;
}

.artst-pic span.artst-plus {
  position: absolute;
  right: 9%;
  bottom: 10px;
}

.artst-prfle {
  width: 63%;
}

.artst-prfle span.artst-sub {
  font-size: 15px;
  color: #bbb;
  float: left;
  width: 100%;
  font-weight: normal;
  padding: 5px 0;
}

.artst-prfle span.artst-sub span.byname {
  font-weight: 700;
  color: #aaa;
}

.artst-prfle span.artst-sub span.daysago {
  float: right;
  font-size: 12px;
}

.counter-tab {
  float: left;
  width: 100%;
  padding-top: 45px;
}

.counter-tab div {
  float: left;
  width: 33%;
  color: #aaa;
  font-size: 12px;
}

.bot-links {
  float: left;
  width: 100%;
  padding-top: 10px;
}

.bot-links a {
  display: inline-block;
  padding: 5px;
  background: #ccc;
  font-size: 12px;
  margin-bottom: 5px;
  color: #9c9c9c;
  text-decoration: none;
}

span.play-icon {
  position: absolute;
  left: 31%;
  top: 32%;
  display: none;
}

.artst-pic:hover img.play-icon, .artst-pic:hover span a {
  display: block;
}

/***View Marketplace****/

.thumbnail img {
  width: 100%;
}

.ratings {
  padding-right: 10px;
  padding-left: 10px;
  color: #d17581;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
  color: #333;
}

/*** Eventos ***/

div>w-width {
  width: 100vw;
}
