<!DOCTYPE html>
<!--Tipo de archivo e dioma del sitio web-->
<html lang="es">

<head>
  <!--Codificación de carácteres especiales-->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Track</title>
  <!-- Icono página-->
  <link rel="shortcut icon" href="../assets/images/track.png">
  <!-- Bootstrap minificado-->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Iconos-->
  <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- CSS -->
  <link href="../css/style.css" rel="stylesheet">
</head>

<body id="wrapper">

  <div>

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <li class="sidebar-brand">
            <a href="newsfeed.html">My Track</a>
          </li>
          <li>
            <a href="profile.html"><span class="white" id="entradaName"></span></a>
          </li>
          <li>
            <a href="artists.html">Siguiendo a...</a>
          </li>
          <li>
            <a href="marketplace.html">Marketplace</a>
          </li>
      </ul>
    </div>
    <!-- barra lateral -->


    <!-- Contenido de página dentro del contenedor wrapper (menú) -->
    <div id="page-content-wrapper">


      <!-- Inicio / Start -->
      <header>
        <div class="start-body">
          <h3 class="top-left"><a class="black" href="#" href="#menu-toggle" id="menu-toggle" ><i class="fa fa-backward"></i> Menú</a></h3>
          <h3 id="close" class="top-right"><a href="../index.html" class="black" alt="Entrar">Salir <i class="fa fa-sign-out"></i></a></h3>
          <div class="container">
            <div class="row">
            </div>
          </div>
        </div>
      </header>


      <!-- services -->
      <section id="services" class="info-section">
        <div class="services-profile">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="artist-data pull-left">
                  <div class="artst-pic pull-left">
                    <span class="artst-like"><a href="#"><i class="glyphicon glyphicon-heart-empty"></i></a></span>
                    <span class="artst-share"><a href="#"><i class="glyphicon glyphicon-share"></i></a></span>
                    <span class="artst-plus"><a href="#"><i class="glyphicon glyphicon-plus-sign"></i></a></span>
                    <a href="#">
                    			<img src="../assets/images/jaar.jpg" alt="" class="img-responsive" />
                    		</a>
                  </div>
                  <div class="artst-prfle pull-right">
                    <div class="art-title">
                      <span class="white">Nicholas Jaar</span>
                      <span class="artst-sub">By <span class="byname">Soundcloud</span> <span class="daysago">4 Days Ago</span></span>
                    </div>
                    <div class="counter-tab">
                      <div class="counter_comnt"><i class="glyphicon glyphicon-comment"></i> 259</div>
                      <div class="counter_ply"><i class="glyphicon glyphicon-play"></i> 918</div>
                      <div class="counter_like"><i class="glyphicon glyphicon-heart"></i> 2459</div>
                    </div>
                  </div>
                  <div class="bot-links">
                    <a href="#">Electro</a>
                    <a href="#">DJ</a>
                    <a href="#">Latin</a>
                    <a href="#">Chill</a>
                    <a href="#">Dance</a>
                    <a href="#">Experimental</a>
                    <a href="#">Sit amet</a>
                    <a href="#">Ipsum dolor</a>
                    <a href="#">Lorem</a>
                    <a href="#">Ipsum dolor sit</a>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="artist-data pull-left">
                  <div class="artst-pic pull-left">
                    <span class="artst-like"><a href="#"><i class="glyphicon glyphicon-heart-empty"></i></a></span>
                    <span class="artst-share"><a href="#"><i class="glyphicon glyphicon-share"></i></a></span>
                    <span class="artst-plus"><a href="#"><i class="glyphicon glyphicon-plus-sign"></i></a></span>
                    <a href="#">
                        		<img src="../assets/images/cook.jpg" alt="" class="img-responsive" />
                    		</a>
                  </div>
                  <div class="artst-prfle pull-right">
                    <div class="art-title">
                      <span class="white">Hollie Cook</span>
                      <span class="artst-sub">By <span class="byname">Spotify</span> <span class="daysago">5 Days Ago</span></span>
                    </div>
                    <div class="counter-tab">
                      <div class="counter_comnt"><i class="glyphicon glyphicon-comment"></i> 359</div>
                      <div class="counter_ply"><i class="glyphicon glyphicon-play"></i> 1672</div>
                      <div class="counter_like"><i class="glyphicon glyphicon-heart"></i> 2256</div>
                    </div>
                  </div>
                  <div class="bot-links">
                    <a href="#">Reggae</a>
                    <a href="#">Ska</a>
                    <a href="#">Roots</a>
                    <a href="#">Female singer</a>
                    <a href="#">Lorem</a>
                    <a href="#">Amet</a>
                    <a href="#">Sit amet</a>
                    <a href="#">Ipsum dolor</a>
                    <a href="#">Lorem</a>
                    <a href="#">Ipsum dolor sit</a>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="artist-data pull-left">
                  <div class="artst-pic pull-left">
                    <span class="artst-like"><a href="#"><i class="glyphicon glyphicon-heart-empty"></i></a></span>
                    <span class="artst-share"><a href="#"><i class="glyphicon glyphicon-share"></i></a></span>
                    <span class="artst-plus"><a href="#"><i class="glyphicon glyphicon-plus-sign"></i></a></span>
                    <a href="#">
                    			<img src="../assets/images/ray.jpg" alt="" class="img-responsive" />
                    		</a>
                  </div>
                  <div class="artst-prfle pull-right">
                    <div class="art-title">
                      <span class="white">Ray Charles</span>
                      <span class="artst-sub">By <span class="byname">iTunes</span> <span class="daysago">2 Days Ago</span></span>
                    </div>
                    <div class="counter-tab">
                      <div class="counter_comnt"><i class="glyphicon glyphicon-comment"></i> 519</div>
                      <div class="counter_ply"><i class="glyphicon glyphicon-play"></i> 1312</div>
                      <div class="counter_like"><i class="glyphicon glyphicon-heart"></i> 2256</div>
                    </div>
                  </div>
                  <div class="bot-links">
                    <a href="#">R&B</a>
                    <a href="#">Soul</a>
                    <a href="#">Gospel</a>
                    <a href="#">Country</a>
                    <a href="#">Rock n' Roll</a>
                    <a href="#">Amet</a>
                    <a href="#">Sit amet</a>
                    <a href="#">Ipsum dolor</a>
                    <a href="#">Lorem</a>
                    <a href="#">Ipsum dolor sit</a>
                  </div>
                </div>
                <!-- finalizan 3 primeras secciones de info -->
              </div>


              <div class="col-md-4">
                <div class="artist-data pull-left">
                  <div class="artst-pic pull-left">
                    <span class="artst-like"><a href="#"><i class="glyphicon glyphicon-heart-empty"></i></a></span>
                    <span class="artst-share"><a href="#"><i class="glyphicon glyphicon-share"></i></a></span>
                    <span class="artst-plus"><a href="#"><i class="glyphicon glyphicon-plus-sign"></i></a></span>
                    <a href="#">
                    			<img src="../assets/images/green.jpg" alt="" class="img-responsive" />
                    		</a>
                  </div>
                  <div class="artst-prfle pull-right">
                    <div class="art-title">
                      <span class="white">Al Green</span>
                      <span class="artst-sub">By <span class="byname">MP3 Player</span> <span class="daysago">5 Days Ago</span></span>
                    </div>
                    <div class="counter-tab">
                      <div class="counter_comnt"><i class="glyphicon glyphicon-comment"></i> 216</div>
                      <div class="counter_ply"><i class="glyphicon glyphicon-play"></i> 1312</div>
                      <div class="counter_like"><i class="glyphicon glyphicon-heart"></i> 2256</div>
                    </div>
                  </div>
                  <div class="bot-links">
                    <a href="#">Gospel</a>
                    <a href="#">R&B</a>
                    <a href="#">Soul</a>
                    <a href="#">Smooth soul</a>
                    <a href="#">Blues</a>
                    <a href="#">Amet</a>
                    <a href="#">Sit amet</a>
                    <a href="#">Ipsum dolor</a>
                    <a href="#">Lorem</a>
                    <a href="#">Ipsum dolor sit</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="artist-data pull-left">
                  <div class="artst-pic pull-left">
                    <span class="artst-like"><a href="#"><i class="glyphicon glyphicon-heart-empty"></i></a></span>
                    <span class="artst-share"><a href="#"><i class="glyphicon glyphicon-share"></i></a></span>
                    <span class="artst-plus"><a href="#"><i class="glyphicon glyphicon-plus-sign"></i></a></span>
                    <a href="#">
                        		<img src="../assets/images/uchis.jpg" alt="" class="img-responsive" />
                    		</a>
                  </div>
                  <div class="artst-prfle pull-right">
                    <div class="art-title">
                      <span class="white">Kali Uchis</span>
                      <span class="artst-sub">By <span class="byname">Shazam</span> <span class="daysago">8 Days Ago</span></span>
                    </div>
                    <div class="counter-tab">
                      <div class="counter_comnt"><i class="glyphicon glyphicon-comment"></i> 300</div>
                      <div class="counter_ply"><i class="glyphicon glyphicon-play"></i> 1312</div>
                      <div class="counter_like"><i class="glyphicon glyphicon-heart"></i> 2256</div>
                    </div>
                  </div>
                  <div class="bot-links">
                    <a href="#">Alternative</a>
                    <a href="#">Retro</a>
                    <a href="#">Pop-rock</a>
                    <a href="#">Latin</a>
                    <a href="#">Lorem</a>
                    <a href="#">Amet</a>
                    <a href="#">Sit amet</a>
                    <a href="#">Ipsum dolor</a>
                    <a href="#">Lorem</a>
                    <a href="#">Ipsum dolor sit</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="artist-data pull-left">
                  <div class="artst-pic pull-left">
                    <span class="artst-like"><a href="#"><i class="glyphicon glyphicon-heart-empty"></i></a></span>
                    <span class="artst-share"><a href="#"><i class="glyphicon glyphicon-share"></i></a></span>
                    <span class="artst-plus"><a href="#"><i class="glyphicon glyphicon-plus-sign"></i></a></span>
                    <a href="#">
                    			<img src="../assets/images/amy.jpg" alt="" class="img-responsive" />
                    		</a>
                  </div>
                  <div class="artst-prfle pull-right">
                    <div class="art-title">
                      <span class="white">Amy Winehouse</span>
                      <span class="artst-sub">By <span class="byname">Songkick</span> <span class="daysago">3 Days Ago</span></span>
                    </div>
                    <div class="counter-tab">
                      <div class="counter_comnt"><i class="glyphicon glyphicon-comment"></i> 594</div>
                      <div class="counter_ply"><i class="glyphicon glyphicon-play"></i> 1312</div>
                      <div class="counter_like"><i class="glyphicon glyphicon-heart"></i> 2256</div>
                    </div>
                  </div>
                  <div class="bot-links">
                    <a href="#">Jazz</a>
                    <a href="#">Reggae</a>
                    <a href="#">Female voices</a>
                    <a href="#">Legends</a>
                    <a href="#">Tribute</a>
                    <a href="#">Amet</a>
                    <a href="#">Sit amet</a>
                    <a href="#">Ipsum dolor</a>
                    <a href="#">Lorem</a>
                    <a href="#">Ipsum dolor sit</a>
                  </div>
                </div>
                <!-- finalizan 3 primeras secciones de info -->
              </div>
            </div>
      </section>

      </div>

      </div>
      <!-- Contenido dentro del wrapper (menú) -->

      <!-- Footer -->
      <footer class="hidden-xs">
        <div class="container text-center fixed">
          <p>FOOTER © 2018</p>
        </div>
      </footer>

      <!-- Firebase -->
      <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
      <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-app.js"></script>
      <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js"></script>

      <!-- jQuery -->
      <script src="../vendor/jquery/jquery.js"></script>
      <!-- Bootstrap JavaScript -->
      <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
      <!-- JS local-->
      <script type="text/javascript" src="../js/newsfeed.js"></script>

</body>

</html>
