<!DOCTYPE html>
<!--Tipo de archivo e dioma del sitio web-->
<html lang="es">

<head>
  <!--Codificación de carácteres especiales-->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Track</title>
  <!-- Icono página-->
  <link rel="shortcut icon" href="../assets/images/track.png">
  <!-- Bootstrap minificado-->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Iconos-->
  <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- CSS -->
  <link href="../css/style.css" rel="stylesheet">
</head>

<body id="wrapper">

  <div>

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <li class="sidebar-brand">
            <a href="#">My Track</a>
          </li>
          <li>
            <a href="profile.html">Perfil</a>
          </li>
          <li>
            <a href="#">Siguiendo a...</a>
          </li>
          <li>
            <a href="#">Marketplace</a>
          </li>
      </ul>
    </div> <!-- barra lateral -->


    <!-- Contenido de página dentro del contenedor wrapper (menú) -->
    <div id="page-content-wrapper">


      <!-- Inicio / Start -->
      <header>
        <div class="start-body">
          <h3 class="top-left"><a class="black" href="#" href="#menu-toggle" id="menu-toggle" ><i class="fa fa-backward"></i> Menú</a></h3>
          <h3 class="top-right"><a href="../index.html" class="black" alt="Entrar">Salir <i class="fa fa-sign-out"></i></a></h3>
          <div class="container">
            <div class="row">
            </div>
          </div>
        </div>
      </header>


      <!-- services -->
      <section id="services" class="info-section text-center">
        <div class="services-section">
          <div class="container">
            <div class="col-lg-4 col-lg-offset-1">
              <h1>Próximos eventos</h1>
              <img class="img-fluid d-block mx-auto" src="http://www.dummyimage.com/250x250" alt="">
          </div>
        </div>
      </section>

    </div>

  </div>   <!-- Contenido dentro del wrapper (menú) -->

<!-- Footer -->
<footer class="hidden-xs">
  <div class="container text-center fixed">
    <p>FOOTER © 2018</p>
  </div>
</footer>



  <!-- jQuery -->
  <script src="../vendor/jquery/jquery.js"></script>
  <!-- Bootstrap JavaScript -->
  <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
  <!-- JS local-->
  <script type="text/javascript" src="../js/newsfeed.js"></script>

</body>

</html>
