<!DOCTYPE html>
<!--Tipo de archivo e dioma del sitio web-->
<html lang="es">

<head>
  <!--Codificación de carácteres especiales-->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Track</title>
  <!-- Icono página-->
  <link rel="shortcut icon" href="../assets/images/track.png">
  <!-- Bootstrap minificado-->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Iconos-->
  <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- CSS -->
  <link href="../css/style.css" rel="stylesheet">
</head>

<body id="wrapper">

  <div>

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <li class="sidebar-brand">
            <a href="newsfeed.html">My Track</a>
          </li>
          <li>
            <a href="profile.html">Perfil</a>
          </li>
          <li>
            <a href="artists.html">Siguiendo a...</a>
          </li>
          <li>
            <a href="marketplace.html">Marketplace</a>
          </li>
      </ul>
    </div> <!-- barra lateral -->


    <!-- Contenido de página dentro del contenedor wrapper (menú) -->
    <div id="page-content-wrapper">


      <!-- Inicio / Start -->
      <header>
        <div class="start-body">
          <h3 class="top-left"><a class="black" href="#" href="#menu-toggle" id="menu-toggle" ><i class="fa fa-backward"></i> Menú</a></h3>
          <h3 class="top-right"><a href="../index.html" class="black" alt="Entrar">Salir <i class="fa fa-sign-out"></i></a></h3>
          <div class="container">
            <div class="row">
            </div>
          </div>
        </div>
      </header>


      <!-- services -->
      <section id="services" class="info-section">
        <div class="services-section">
              <h2 style="margin-left:15%;" class="">Próximos eventos</h2>
              <div class="container">
<div class="row">
  <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
    <ul class="event-list">
      <li>
        <time datetime="2018-10-29">
          <span class="day">29</span>
          <span class="month">Oct</span>
          <span class="year">2018</span>
          <span class="time">ALL DAY</span>
        </time>
        <img alt="dj-set" src="https://st.depositphotos.com/1430909/1434/i/950/depositphotos_14345167-stock-photo-dj-playing-the-track.jpg" />
        <div class="info">

          <div class="row">
            <div class="col-sm-10">
              <h2 class="title">Laco 1st year anniversary</h2>
            </div>
            <div class="col-sm-2">
              <img alt="germany" class="flag" src="https://theodora.com/flags/new/de-t.gif" />
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">Start:</div>
            <div class="col-sm-9">29 Oct 2018 (23:30)</div>
          </div>
          <div class="row">
            <div class="col-sm-3">End:</div>
            <div class="col-sm-9">30 Oct 2018 (06:00)</div>
          </div>
          <div class="row">
            <div class="col-sm-3">Address:</div>
            <div class="col-sm-9">Falckensteinstraße 49, 10997 Berlin</div>
          </div>
          <div class="row">
            <div class="col-sm-3">Cost:</div>
            <div class="col-sm-9">€15</div>
          </div>
        </div>
        <div class="social">
          <ul>
            <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
            <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
            <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-soundcloud"></span></a></li>
          </ul>
        </div>
      </li>

      <li>
        <time datetime="2017-11-24">
          <span class="day">24</span>
          <span class="month">Nov</span>
          <span class="year">2017</span>
          <span class="time">Evening</span>
        </time>
        <img alt="dj-set" src="https://st.depositphotos.com/1430909/1434/i/950/depositphotos_14345167-stock-photo-dj-playing-the-track.jpg" />
        <div class="info">

          <div class="row">
            <div class="col-sm-10">
              <h2 class="title">Jazz Cafe presents Osunlade</h2>
            </div>
            <div class="col-sm-2">
              <img alt="germany" class="flag" src="https://theodora.com/flags/new2/en_lang.gif" />
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">Start:</div>
            <div class="col-sm-9">24 Nov 2017 (21:30)</div>
          </div>
          <div class="row">
            <div class="col-sm-3">End:</div>
            <div class="col-sm-9">25 Nov 2017 (02:00)</div>
          </div>
          <div class="row">
            <div class="col-sm-3">Address:</div>
            <div class="col-sm-9">5 Parkway, Camden Town, London NW1 7PG, UK</div>
          </div>
          <div class="row">
            <div class="col-sm-3">Cost:</div>
            <div class="col-sm-9">£10</div>
          </div>
        </div>
        <div class="social">
          <ul>
            <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
            <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
            <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-soundcloud"></span></a></li>
          </ul>
        </div>
      </li>

      <li>
        <time datetime="2017-10-7">
          <span class="day">30</span>
          <span class="month">Oct</span>
          <span class="year">2017</span>
          <span class="time">Morning</span>
        </time>
        <img alt="dj-set" src="http://thefinancialphysician.com/wp-content/uploads/2013/03/microphone-radio2-300x300.jpg" />
        <div class="info">

          <div class="row">
            <div class="col-sm-10">
              <h2 class="title">Interview on Feta radio</h2>
            </div>
            <div class="col-sm-2">
              <img alt="italy" class="flag" src="https://theodora.com/flags/new9/italy-t.gif" />
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">Start:</div>
            <div class="col-sm-9">30 Oct 2017 (10:00)</div>
          </div>
          <div class="row">
            <div class="col-sm-3">End:</div>
            <div class="col-sm-9">30 Oct 2017 (11:00)</div>
          </div>
          <div class="row">
            <div class="col-sm-3">Address:</div>
            <div class="col-sm-9">Feta radio, Rome, 1234, Italy</div>
          </div>
          <div class="row">
            <div class="col-sm-3">Cost:</div>
            <div class="col-sm-9">Free</div>
          </div>
        </div>
        <div class="social">
          <ul>
            <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
            <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
            <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-soundcloud"></span></a></li>
          </ul>
        </div>
      </li>

      <li>
        <time datetime="2017-10-7">
          <span class="day">7</span>
          <span class="month">Oct</span>
          <span class="year">2017</span>
          <span class="time">Evening</span>
        </time>
        <img alt="dj-set" src="https://st.depositphotos.com/1430909/1434/i/950/depositphotos_14345167-stock-photo-dj-playing-the-track.jpg" />
        <div class="info">

          <div class="row">
            <div class="col-sm-10">
              <h2 class="title">Crate Diggers Amsterdam</h2>
            </div>
            <div class="col-sm-2">
              <img alt="germany" class="flag" src="https://theodora.com/flags/new8/netherlands-t.gif" />
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">Start:</div>
            <div class="col-sm-9">7 Oct 2017 (22:00)</div>
          </div>
          <div class="row">
            <div class="col-sm-3">End:</div>
            <div class="col-sm-9">8 Oct 2017 (04:00)</div>
          </div>
          <div class="row">
            <div class="col-sm-3">Address:</div>
            <div class="col-sm-9">De Marktkantine, Jan van Galenstraat 6, 1051 KM Amsterdam</div>
          </div>
          <div class="row">
            <div class="col-sm-3">Cost:</div>
            <div class="col-sm-9">Free</div>
          </div>
        </div>
        <div class="social">
          <ul>
            <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
            <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
            <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-soundcloud"></span></a></li>
          </ul>
        </div>
      </li>


    </ul>
  </div>
</div>
</div>




          </div>
        </div>
      </section>

    </div>

  </div>   <!-- Contenido dentro del wrapper (menú) -->

<!-- Footer -->
<footer class="hidden-xs">
  <div class="container text-center fixed">
    <p>FOOTER © 2018</p>
  </div>
</footer>



  <!-- jQuery -->
  <script src="../vendor/jquery/jquery.js"></script>
  <!-- Bootstrap JavaScript -->
  <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
  <!-- JS local-->
  <script type="text/javascript" src="../js/newsfeed.js"></script>

</body>

</html>
