<!DOCTYPE html>
<!--Tipo de archivo e dioma del sitio web-->
<html lang="es">

<head>
  <!--Codificación de carácteres especiales-->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Track</title>
  <!-- Icono página-->
  <link rel="shortcut icon" href="../assets/images/track.png">
  <!-- Bootstrap minificado-->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Iconos-->
  <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- CSS -->
  <link href="../css/style.css" rel="stylesheet">
</head>

<body id="wrapper">

  <div>

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <li class="sidebar-brand">
            <a href="newsfeed.html">My Track</a>
          </li>
          <li>
            <a href="profile.html"><span class="white" id="entradaName"></span></a>
          </li>
          <li>
            <a href="artists.html">Siguiendo a...</a>
          </li>
          <li>
            <a href="marketplace.html">Marketplace</a>
          </li>
      </ul>
    </div>
    <!-- barra lateral -->


    <!-- Contenido de página dentro del contenedor wrapper (menú) -->
    <div id="page-content-wrapper">


      <!-- Inicio / Start -->
      <header>
        <div class="start-body">
          <h3 class="top-left"><a class="black" href="#" href="#menu-toggle" id="menu-toggle" ><i class="fa fa-backward"></i> Menú</a></h3>
          <h3 id="close" class="top-right"><a href="../index.html" class="black" alt="Entrar">Salir <i class="fa fa-sign-out"></i></a></h3>
          <div class="container">
            <div class="row">
            </div>
          </div>
        </div>
      </header>


      <!-- services -->
      <section id="services" class="info-section">
        <div class="services-section">
          <h2 style="margin-left:10%;" class="">Próximos eventos</h2>
          <div class="container">
            <div class="row">
              <div class="[ col-xs-12 col-sm-8 ]">
                <!-- windget de eventos proximos Ticketmaster-->
                <div class="hidden-xs" w-type="event-discovery" w-tmapikey="jyTyYnYYiUgShGgrFiVniLyvZJH1o6N0" w-googleapikey="YOUR_GOOGLE_API_KEY" w-keyword="" w-theme="listviewthumbnails" w-colorscheme="dark" w-width="700" w-height="600" w-size="25" w-border="2" w-borderradius="4" w-postalcode="" w-radius="25" w-period="week" w-layout="vertical" w-attractionid="" w-promoterid="" w-venueid="" w-affiliateid="" w-segmentid="" w-proportion="custom" w-titlelink="off" w-countrycode="MX" w-source="" w-city="" w-classificationname="music" w-latlong=""></div>

                <script src="https://ticketmaster-api-staging.github.io/products-and-docs/widgets/event-discovery/1.0.0/lib/main-widget.js"></script>
                <!-- windget de eventos proximos Ticketmaster-->
                <div class="hidden-xl hidden-lg hidden-md hidden-sm" w-type="event-discovery" w-tmapikey="jyTyYnYYiUgShGgrFiVniLyvZJH1o6N0" w-googleapikey="YOUR_GOOGLE_API_KEY" w-keyword="" w-theme="listviewthumbnails" w-colorscheme="dark" w-width="300" w-height="600" w-size="25" w-border="2" w-borderradius="4" w-postalcode="" w-radius="25" w-period="week" w-layout="vertical" w-attractionid="" w-promoterid="" w-venueid="" w-affiliateid="" w-segmentid="" w-proportion="custom" w-titlelink="off" w-countrycode="MX" w-source="" w-city="" w-classificationname="music" w-latlong=""></div>

                <script src="https://ticketmaster-api-staging.github.io/products-and-docs/widgets/event-discovery/1.0.0/lib/main-widget.js"></script>

              </div>

              <div class="[ col-xs-12 col-sm-3 col-sm-offset-1 ]">
                <br>

                <div class="row friends bg-black">
                  <div class="col-xs-12 friend-panel">
                    <div class="row title-panel text-center">
                      <span class="text-center title-activity">Actividad de amigos</span>
                    </div>
                    <div class="row activity-panel">
                      <div class="col-xs-5 text-center">
                        <img src="../assets/images/avatar.png" alt="..." class="img-circle avatar-pic">

                      </div>
                      <div class="col-xs-7">
                        <div class="row">
                          <div class="col-xs-12">
                            <span><b><a href="" target="_blank">name user</a></b></span>
                          </div>

                        </div>
                        <div class="row">
                          <div class="col-xs-12"></div>
                          <span>
                            <i class="fa fa-music"></i>
                            <a class="" data-target="#myBtn" target="_blank">Nicholas Jaar</a>
                          </span>

                        </div>

                      </div>

                    </div>
                  </div>
                  <!-- aqui -->
                  <div class="col-xs-12 friend-panel">
                    <div class="row text-center">
                    </div>
                    <div class="row activity-panel">
                      <div class="col-xs-5 text-center">
                        <img src="../assets/images/avatar.png" alt="..." class="img-circle avatar-pic">

                      </div>
                      <div class="col-xs-7">
                        <div class="row">
                          <div class="col-xs-12">
                            <span><b><a href="" target="_blank">nombre de usuario</a></b></span>
                          </div>

                        </div>
                        <div class="row">
                          <div class="col-xs-12"></div>
                          <span>
                            <i class="fa fa-music"></i>
                            <a class="" data-target="#myBtn" target="_blank">Hollie Cook</a>
                          </span>

                        </div>

                      </div>

                    </div>
                  </div>
                  <!-- again -->
                  <div class="col-xs-12 friend-panel">
                    <div class="row text-center">
                    </div>
                    <div class="row activity-panel">
                      <div class="col-xs-5 text-center">
                        <img src="../assets/images/avatar.png" alt="..." class="img-circle avatar-pic">

                      </div>
                      <div class="col-xs-7">
                        <div class="row">
                          <div class="col-xs-12">
                            <span><b><a href="" target="_blank">nombre de usuario</a></b></span>
                          </div>

                        </div>
                        <div class="row">
                          <div class="col-xs-12"></div>
                          <span>
                            <i class="fa fa-music"></i>
                            <a class="" data-target="#myBtn" target="_blank">Ray Charles</a>
                          </span>

                        </div>

                      </div>

                    </div>
                  </div>
                  <!-- again -->
                  <div class="col-xs-12 friend-panel">
                    <div class="row text-center">
                    </div>
                    <div class="row activity-panel">
                      <div class="col-xs-5 text-center">
                        <img src="../assets/images/avatar.png" alt="..." class="img-circle avatar-pic">

                      </div>
                      <div class="col-xs-7">
                        <div class="row">
                          <div class="col-xs-12">
                            <span><b><a href="" target="_blank">nombre de usuario</a></b></span>
                          </div>

                        </div>
                        <div class="row">
                          <div class="col-xs-12"></div>
                          <span>
                            <i class="fa fa-music"></i>
                            <a class="" data-target="#myBtn" target="_blank">Amy Winehouse</a>
                          </span>

                        </div>

                      </div>

                    </div>
                  </div>
                  <!-- boton view artist -->
                  <div class=" col-xs-12 text-center">
                    <button type="button" class="btn btn-default btn-lg text-center btn-artist-view">
                      <span class="txt-btn-artist"><a href="artists.html">ver artistas</a></span>
                    </button>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

  </div>
  <!-- Contenido dentro del wrapper (menú) -->

  <!-- Footer -->
  <footer class="hidden-xs">
    <div class="container text-center fixed">
      <p>FOOTER © 2018</p>
    </div>
  </footer>

  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/4.6.2/firebase-auth.js"></script>

  <!-- jQuery -->
  <script src="../vendor/jquery/jquery.js"></script>
  <!-- Bootstrap JavaScript -->
  <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
  <!-- JS local-->
  <script type="text/javascript" src="../js/newsfeed.js"></script>
  <!-- <script src="../js/user.js"></script>-->
</body>

</html>
