<!DOCTYPE html>
<!--Tipo de archivo e dioma del sitio web-->
<html lang="es">

<head>
  <!--Codificación de carácteres especiales-->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Track</title>
  <!-- Icono página-->
  <link rel="shortcut icon" href="../assets/images/track.png">
  <!-- Bootstrap minificado-->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Iconos-->
  <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- CSS -->
  <link href="../css/style.css" rel="stylesheet">
</head>

<body id="wrapper">

  <div>

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <li class="sidebar-brand">
            <a href="newsfeed.html">My Track</a>
          </li>
          <li>
            <a href="newsfeed.html">Newsfeed</a>
          </li>
          <li>
            <a href="artists.html">Siguiendo a...</a>
          </li>
          <li>
            <a href="marketplace.html">Marketplace</a>
          </li>
      </ul>
    </div> <!-- barra lateral -->


    <!-- Contenido de página dentro del contenedor wrapper (menú) -->
    <div id="page-content-wrapper">


      <!-- Inicio / Start -->
      <header>
        <div class="start-body">
          <h3 class="top-left"><a class="black" href="#" href="#menu-toggle" id="menu-toggle" ><i class="fa fa-backward"></i> Menú</a></h3>
          <h3 id="close" class="top-right"><a href="../index.html" class="black" alt="Entrar">Salir <i class="fa fa-sign-out"></i></a></h3>
          <div class="container">
            <div class="row">
            </div>
          </div>
        </div>
      </header>


      <!-- services -->
      <section id="services" class="info-section text-center">
        <div class="services-section">
          <div class="container">
            <div class="col-lg-4 col-lg-offset-1">
              <h1>Subir Foto</h1>
              <div>
              <input class="img-fluid d-block mx-auto" type="file" id="files" name="files[]" />
              <br />
              <output id="list"></output>
            </div>
            </div>

            <div class="col-lg-4 col-lg-offset-2">
              <h1>Mis eventos favoritos</h1>
              <img id="rounded" class="img-fluid d-block mx-auto" src="../assets/images/dbyrne.jpg" alt="">
              <img id="rounded" class="img-fluid d-block mx-auto" src="../assets/images/bowie.jpg" alt="">
              <img id="rounded" class="img-fluid d-block mx-auto" src="../assets/images/cer-18.jpg" alt="">
              <img id="rounded" class="img-fluid d-block mx-auto" src="../assets/images/collins.jpg" alt="">
              <img id="rounded" class="img-fluid d-block mx-auto" src="../assets/images/clearwater.jpg" alt="">
              <img id="rounded" class="img-fluid d-block mx-auto" src="../assets/images/jsabina.jpg" alt="">
            </div>
          </div>
        </div>
      </section>

      <section class="bg-black">
        <div class="map">
          <h1 class="white"><span class="glyphicon glyphicon-map-marker"></span> Lugares que visitaste</h1>
          <iframe class=" text-center" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15050.851339394801!2d-99.1949256!3d19.4248097!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5e14b5cd4b968d6f!2sAuditorio+Nacional!5e0!3m2!1ses-419!2smx!4v1518057982782" width="100%" height="100%" allowfullscreen></iframe>
        </div>

      </section>

    </div>

  </div>   <!-- Contenido dentro del wrapper (menú) -->

<!-- Footer -->
<footer class="hidden-xs">
  <div class="container text-center fixed">
    <p>FOOTER © 2018</p>
  </div>
</footer>



  <!-- jQuery -->
  <script src="../vendor/jquery/jquery.js"></script>
  <!-- Bootstrap JavaScript -->
  <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
  <!-- JS local-->
  <script type="text/javascript" src="../js/newsfeed.js"></script>

</body>

</html>
